<a href="https://colab.research.google.com/github/tashildar563/PYTHON_AI_MLOPS/blob/python/Copy_of_PNB_5_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside "quotes" is a string. You can either use 'single quotes' or "double quotes".

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

####Exercise 1:

Declare the values of a string variable to be 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'.


Print the string.

In [ ]:
# YOUR CODE HERE
process = 'Test, Quizzes, individual Labs, Group Labs and Hackathons.'
print(process)

Test, Quizzes, individual Labs, Group Labs and Hackathons.

####Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes.

Print the string.

In [ ]:
# YOUR CODE HERE
furniture = "I need Tables, Chairs, Cupboards"
print(furniture)

I need Tables, Chairs, Cupboards

####Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [ ]:
# YOUR CODE HERE
concat_string = process+furniture
print(concat_string)

Test, Quizzes, individual Labs, Group Labs and Hackathons.I need Tables, Chairs, Cupboards

####Exercise 4:

Write a short note on any topic in python and print the note using single `print` statement.

In [ ]:
# YOUR CODE HERE
note = 'Concatenate the two string variables declared in Exercise 1 and Exercise 2. Concatenate the two string variables declared in Exercise 1 and Exercise 2. '

print(note)

Concatenate the two string variables declared in Exercise 1 and Exercise 2. Concatenate the two string variables declared in Exercise 1 and Exercise 2.

####Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* Print the length of the concatenated string.

In [ ]:
# YOUR CODE HERE
lengthOfStr = concat_string+process
print(len(lengthOfStr))

148

#### Exercies 6:

Perform simple string operations for A = "Hello", B = "world!":
 * Concatenate by +.
 * Multiple concatenation by *  (ex: 4 * A + " " * 3 + B * 2).
 * Check for substring with `in`.
 * Determine the size (number of characters) using `len`.

In [ ]:
# YOUR CODE HERE
a = 'Hello'
b='World!'
c = a+b
d = c*2 + a*9
if 'Hello' in c:
  print(True)

print(len(d))

True
67

####Exercies 7:

For the given variable name = 'hELLO, WORLD!', perform the following:
* Print the character '!'.
* Convert the string to lowercase.
* Print the first character in upper case.
* Print a string where all the upper case letters are lower case and vice versa.

In [17]:
name = 'hELLO, WORLD!'
# YOUR CODE HERE
if '!' in name:
    print('!')
lName = name.lower()
print(lName)
u=""
for i in name:
  if i.islower():
      ui=i.upper()
      u+=ui
  else:
      u+=i

print(u)

!
hello, world!
HELLO, WORLD!

In [ ]:
# The lower() method returns a string converted to lowercase.
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### Exercies 8:

For a given string, perform the following:
* Using `for` to iterate over a string in Python.
* Print the number of times the letter/character ‘s’ appears in a string.

In [25]:
# YOUR CODE HERE
def charCount(character,givenString):
    count=0
    for i in givenString:
        if i==character:
          count+=1
    return count

countChar = charCount("s","Using for to iterate over a string in Python.")
print(charCount("r","Using for to iterate over a string in Python."))

4

In [ ]:
# YOUR CODE HERE

#### Exercies 9:

For a given list, perform the following:

* Print the list in reverse oder.

* Print the following my_list[-1].

* Print the following output  [2, 33, 222, 14] using slice method.

In [35]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
print(my_list[::-2])

[25, 222, 2]

In [36]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
print(my_list[-1])

25

In [38]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
print(my_list[:-1])

[2, 33, 222, 14]

#### Exercies 10:

For the given string, perform following methods:

* Split the string by using 'word.split' and print the result.
* Replace MachineLearning by Python using `.replace()`.

In [41]:
instr='YOUR CODE HERE'
newInstr = instr.split()
print(newInstr)

['YOUR', 'CODE', 'HERE']

In [43]:
# YOUR CODE HERE
instr='MachineLearning'
newInstar = instr.replace('MachineLearning','Python')
print(newInstar)

Python